*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

/* header styles */

.header{

  width: 100%;
  height: 808px;
  background-image: url(images/banner/banner1.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  
}

.banner-content{
  text-align: end;
  margin-right: 100px;

  
}

.banner-title{
  font-weight: 700;
  font-size: 65px;
  
}




.banner-description{
  color: #444343;
  width: 494px;
  height: 78px;
  margin-top: 24px;
  margin-bottom: 32px;
  line-height: 26px;
  
  
}

.banner-btn{
padding: 25px;
border-radius: 5px;
background: #F15B22;
border:none;
color: white;
font-weight: 600;
font-size: 20px;

}


/* failure section style */

.failure-container{
  display: flex;
  align-items: center;
  margin-top: 131px;
}

.failure-text-part{
  width: 416px;
  height: 400px;
  margin-left: 95px;

}

.failure-title{
  font-weight: 700;
  font-size: 40px;
  

}

.failure-subtitle{
  margin-top: 24px;
  margin-bottom: 16px;
  color: #444343;
  line-height: 26px;
}

.failure-description{
  margin-top: 16px;
}

.failure-description h4{

line-height: 26px;
font-weight: 400;
font-size: 16px;

}

.fa-check {
  color:#16D887;
}

/* my plan section styles */

.plan-header{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 130px;


}

.plan-container{

  
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 130px;
  
}



.plan-title{
  font-weight: 700;
  font-size: 30px;
  margin-top: 24px;
  margin-bottom: 16px;

}

.plan-subtitle{
  color: #737272;
  font-weight: 500;
  font-size: 25px;
}


/* watch section styles */
.watch-banner-container{

  background:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 90%),url(images/watch.png);
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;
  border-radius: 9px;
  margin: 0 0 30px 80px ;


}

.watch-item-container{

 padding: 50px;



}


.watch-banner-title{
  font-weight: 700;
  font-size: 40px;
  color: white;
  line-height: 47px;
}

.watch-banner-btn{
padding: 20px;
border-radius: 5px;
color: #F15B22;
border:none;
background: white;
font-weight: 600;
font-size: 20px;
margin-top: 24px;
}


/* ai section styles */

 .ai-container{
  display: flex;
  justify-content: space-around;
  margin-top:131px;
  

 }

 .ai-img img{
  border-radius: 9px;
  margin-left: 35px;
 }

 .ai-text{
  text-align: end;
  align-content:center ;
 }
 

 .ai-title{
  color:#00529b;
  font-weight: 700;
  font-size: 50px;
 }

 .ai-description{
  color:#00529b;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom:47px;
 }

 .ai-btn{
  background-color: #00b8ec;
  padding: 20px;
  border-radius: 7px;
  border:none;
  color:#f6fbff;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
 

 }

/* footer section styles */

.footer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 577px;
  background: #151414;
  margin-top: 130px;

}

.footer-text{
  margin-left: 230px;
  
  
}

.footer-text-title{
  color: #F8F8F8;
  font-weight: 700;
  font-size: 45px;
  margin-bottom:16px;

}

.footer-text-subtitle , p{
  color: #FFFFFF;
  margin-bottom: 24px;

}

.footer-form{
  margin-left: 331px;
  margin-right:229px ;
  
}
.footer-form-title{

  font-weight: 700;
  font-size: 45px;
  color: #F8F8F8;
}

input{
  height: 20px;
  padding: 25px 40px;
  background:none;
  border-radius: 5px;
  border:1px solid #F8F8F8;
  margin-top: 31px;
  margin-bottom: 16px;

}

::placeholder{
  color:#F8F8F8;
  font-size: 18px;


}
